<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553740220475-j7polav5jb0u81hjcan0ofsfrsgf39df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553740220475-j7polav5jb0u81hjcan0ofsfrsgf39df</string>
	<key>API_KEY</key>
	<string>AIzaSyAFUFTqweqEWe_WQJK7PeIp0vFNcttAZSs</string>
	<key>GCM_SENDER_ID</key>
	<string>553740220475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manicx.hunger</string>
	<key>PROJECT_ID</key>
	<string>hunger-64daf</string>
	<key>STORAGE_BUCKET</key>
	<string>hunger-64daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553740220475:ios:faacef4f8d7a62c7bac41e</string>
	<key>DATABASE_URL</key>
	<string>https://hunger-64daf.firebaseio.com</string>
</dict>
</plist>